body {
    margin: 0;
}
p {
    margin: 0px;
}
.btn {
    cursor: pointer;
}
.nav.btn {
    color: white;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}
.nav.btn:hover {
    background-color: rgb(231, 228, 228);
    /* opacity: 0.5; */
}
#page-container {
    height: 100%;
    width: 100%;
    display: flex;
}
.nav-bar {
    background-color: #db4c3f;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-nav {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    gap: 25px;
}
.right-nav {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-right: 25px;
}
#hero {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* border: solid black 1px; */
    align-self: center;
}
.left-sidebar {
    display: flex;
    flex-direction: column;
    background-color: rgb(253, 250, 250);
    width: 275px;
    height: 100vh;
}
.project-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.project-header {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    margin-top: 40px;
    /* padding-right: 10px; */
}
#project-title {
    font-weight: 600;
}
#project-addBtn {
    font-size: 30px;
    margin-top: 20px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 30px;
    cursor: pointer;
    border-radius: 10px;
}
#project-addBtn:hover {
    background-color: rgb(231, 228, 228);
}
.addProject-form {
    align-self: center;
    margin-left: 30px;
    margin-right: 30px;
}
.project-list {
    /* border: solid black 1px; */
    padding: 20px;
}
.project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    margin: 10px;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 10px;
}
.project:hover {
    background-color: rgb(231, 228, 228);

}
.project.active {
    background-color: rgb(231, 228, 228);
}
.taskNum {
    color: rgb(186, 176, 176);
    padding-right: 15px;
}
.fa-thin.fa-plus {
    margin: 20px;
}
.addProject-form {
    display: none;
}
.addProject-form.active {
    display: flex;
}
#todo-hero {
    padding: 55px;
    width: 70%;
    display: flex;
    flex-direction: column;

}
#todo-container {
    /* padding: 55px; */
    width: 90%;
}
.itemCard {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid rgb(227, 222, 222) 1px;
    margin-top: 40px;

}
.itemCard > * {
    /* width: 80%; */
    /* height: 30px; */
    /* text-align: center; */
    /* border-bottom: solid rgb(0, 0, 0) 1px; */
}
.completeBtn {
    height: 17px;
    width: 17px;
    border: solid rgb(108, 103, 103) 2px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
}
.completeBtn:hover {
    /* background-color: #db4c3f; */
    transform: scale(1.1);
}
.checkMark {
    color: white;
}
.checkMark:hover {
    color: #db4c3f;
}
.task-header {
    font-weight: 600;
    font-size: 22px;
}
.itemDesc {
    color: rgb(108, 103, 103);
    display: block;
    overflow: hidden;
    width: 30%;
    white-space: nowrap;
    text-overflow: ellipsis
}
.deleteBtn {
    width: 10%;
}
.itemPriority {
    width: 10%;
}
.dueDate-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.priority-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.altAdd-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-top: 50px;
    margin-left: 30%;
    width: 25%;
    justify-content: center;
}
.altAdd-container:hover {
    cursor: pointer;
    color: #db4c3f;
    transform: scale(1.1);
}
.altAdd-container:hover > .alt-plusSign{
    background-color: #db4c3f;
    color: white;
}
.alt-plusSign {
    height: 19px;
    width: 19px;
    text-align: center;
    color: #db4c3f;
    border-radius: 50%;
}
/* .alt-plusSign:hover{
    background-color: #db4c3f;
    color: white;
} */
.altAddBtn-text {
    color: rgb(150, 145, 145);
}
.submitCard {
    border-radius: 5%;
    position: fixed;
    top: 105%;
    left: 35%;
    font-size: larger;
    z-index: 2;
    padding: 20px 50px 50px 50px;
    transform: translate(-50%, -50%) scale(0);
    background-color: white;
    border: solid black 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    align-self: center;
    display: none;
}
.submitCard.active {
    transform: translate(0%, -130%) scale(1);
    display:flex;
}
#itemDescBox {
    text-overflow: ellipsis
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 1;
  }
  .overlay.active {
      display: block;
  }