:root {
    --main-color: white;
    --accent-color: #A7C2E5;
    --third-color: #f7fafe;
    --fourth-color: #c7c9ce;
    --dark-color: #000A14;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
body {
    font-family: 'Open Sans', sans-serif;
    color: var(--dark-color);
    margin: 0;
    font-size: 15px;
}
i {
    font-style: normal;
}
p {
    margin: 0px;
}
.btn {
    cursor: pointer;
}
img {
    height: 20px;
    width: 20px;
}
.nav.btn {
    /* font-family: sans-serif; */
    color: white;
    height: 3em;
    width: 1.9em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}
.nav.btn:hover {
    background-color: var(--fourth-color);
    /* opacity: 0.5; */
}
#page-container {
    height: 100%;
    width: 100%;
    display: flex;
}
.nav-bar {
    background-color: var(--accent-color);
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-nav {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2.7em;
    gap: 1.6em;
}
#burger-menu {

}
.right-nav {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6em;
    margin-right: 2.7em;
}
#addBtn {
    font-family: sans-serif;
}
#hero {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* border: solid black 1px; */
    align-self: center;
}
.left-sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--third-color);
    width: 28%;
    height: 100vh;
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}
.left-sidebar.unactive {
    transform: translateX(-10px);
    opacity: 0;
}
.project-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.project-header {
    width: 80%;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 24px;
}
.project-header-left {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    /* margin-left: 25px; */
    gap: 10px;
    cursor: pointer;
    width: 100%;
}
.fa-angle-down {
    transform: rotate(0deg);
    transition: transform 150ms ease-in-out;
}
.fa-angle-down.active {
    transform: rotate(-90deg);
}
#project-title {
    font-weight: 600;
}
#project-addBtn {
    font-family: sans-serif;
    font-size: 1.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    padding-bottom: 5px;
    height: 25px;
    width: 30px;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 9px;
}
#project-addBtn:hover {
    background-color: var(--fourth-color);
}
.addProject-form {
    width: 55%;
    align-self: center;
    /* margin-left: 30px; */
    margin-right: 20px;
    display: none;
    border: solid lightgray 1px;
}
.addProject-form:focus {
    outline: none;
    /* border: solid lightgray 2px; */
}
.addProject-form.active {
    display: flex;
}
.project-list {
    /* border: solid black 1px; */
    display: block;
    font-weight: 500;
    padding: 20px;
    padding-top: 0px;
}
.project {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    margin: 10px;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 10px;
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}
.project.hide {
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
}
.project:hover {
    background-color: var(--fourth-color);
}
.project.active {
    background-color: var(--fourth-color);
}
.project:hover > .dropMenuBtn {
    display: flex;
    padding-right: 15px;
}
.project:hover > .taskNum {
    display: none;
}
.taskNum {
    color: var(--dark-color);
    padding-right: 15px;
}
.dropMenuBtn {
    display: none;
    height: 28px;
    border-radius: 50%;
    /* background-color: var(--accent-color); */
}
.dropMenuBtn:hover { 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
}
.dropMenu {
    font-size: 0.9em;
    cursor: default;
    display: none;
    z-index: 2;
    /* -webkit-box-shadow: 0px 10px 13px -7px #000000, -19px 5px 33px -8px rgba(0,0,0,0.23); 
    box-shadow: 0px 10px 13px -7px #000000, -19px 5px 33px -8px rgba(0,0,0,0.23); */
    position: absolute;
    left: 50%;
    top: 100%;
    background-color: white;
    width: 150px;
    height: 200px;
    border: solid lightgray 1px;
}
.dropMenu.active {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.dropMenu >:hover {
    transform: scale(1.1);
    /* background-color: lightgray; */
}
.dropMenu * {
    height: 30%;
    align-items: center;
}
.project-edit-btn {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 80%;
    border-bottom: solid lightgray 1px;
    /* padding-bottom: 25px; */
}
.archive-container {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 80%;
    border-bottom: solid lightgray 1px;
    /* padding-bottom: 25px; */

}
.dropMenuDelContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 80%;
}
.fa-thin.fa-plus {
    margin: 20px;
    font-family: sans-serif;
}
#todo-hero {
    padding: 45px;
    width: 70%;
    display: flex;
    flex-direction: column;

}
#todo-container {
    /* padding: 55px; */
    width: 90%;
}
.itemCard {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid rgb(227, 222, 222) 1px;
    margin-top: 40px;

}
.completeBtn {
    height: 17px;
    width: 17px;
    border: solid rgb(108, 103, 103) 2px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
}
.completeBtn:hover {
    /* background-color: var(--accent-color); */
    transform: scale(1.1);
}
.checkMark {
    color: white;
}
.checkMark:hover {
    color: var(--accent-color);
}
.task-header {
    font-weight: 600;
    font-size: 17px;
}
.itemDesc {
    color: rgb(108, 103, 103);
    display: block;
    overflow: hidden;
    width: 30%;
    white-space: nowrap;
    text-overflow: ellipsis
}
.itemPriority {
    width: 10%;
}
.itemDueDate {
    color: var(--accent-color);
    font-weight: bold;
}
.dueDate-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.priority-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.altAdd-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-top: 50px;
    margin-left: 30%;
    width: 25%;
    justify-content: center;
}
.altAdd-container:hover {
    cursor: pointer;
    color: var(--accent-color);
    transform: scale(1.1);
}
.altAdd-container:hover > .alt-plusSign{
    background-color: var(--accent-color);
    color: white;
}
.alt-plusSign {
    font-family: sans-serif;
    height: 19px;
    width: 19px;
    text-align: center;
    color: var(--accent-color);
    border-radius: 50%;
}
/* .alt-plusSign:hover{
    background-color: var(--accent-color);
    color: white;
} */
.altAddBtn-text {
    color: rgb(150, 145, 145);
}
.submitCard {
    border-radius: 5%;
    position: fixed;
    top: 110%;
    left: 35%;
    font-size: larger;
    z-index: 2;
    padding: 20px 50px 50px 50px;
    transform: translate(-50%, -50%) scale(0);
    background-color: white;
    border: solid black 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    align-self: center;
    display: none;
}
.submitCard.active {
    transform: translate(0%, -130%) scale(1);
    display:flex;
}
#itemDescBox {
    text-overflow: ellipsis
}
.transparent-overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    /* background-color: rgba(255, 255, 255, 0.7); */
    opacity: 1;
}
.transparent-overlay.active {
    display: block;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 1;
  }
  .overlay.active {
      display: block;
  }

  @media screen and (max-width: 725px) {
    .nav-bar {
        justify-content: flex-end;
    }
    .left-nav {
        flex-direction: row-reverse;
    }
    .right-nav {
        display: none;
    }
    #hero {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .left-sidebar {
        /* width: auto; */
        justify-content: flex-start;
        width: 50%;
        height: 100%;
        border-radius: 5%;
        background-color: white;
        opacity: 0;
        position: absolute;
        transform: translateX(-1000px);
        transition: opacity 150ms ease-in-out;
    }
    .left-sidebar.unactive {
        opacity: 100;
    }
    .project-header {
        margin-top: 0;
    }
    #todo-hero {
        padding: 0px;
        margin-top: 50px;
    }
  }